@import url('http://fonts.cdnfonts.com/css/amazon-ember');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
    /* background-color: #EAEDED; */
};



